<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real-Time Chart</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/moment"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>
</head>
<body>
    <canvas id="myChart"></canvas>
    <script>
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'G',
                    data: [],
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    x: { beginAtZero: true },
                    y: { beginAtZero: true }
                }
            }
        });

        const ws = new WebSocket(`ws://${window.location.host}/resonant_column/ws/`);

        ws.onmessage = event => {
            const data = JSON.parse(event.data);
            myChart.data.labels.push(data.timestamp);
            myChart.data.datasets[0].data.push(data.value);
            myChart.update();
        };
    </script>
</body>
</html>